############################
# Maven
############################
target/
.mvn/wrapper/maven-wrapper.jar

############################
# Spring Boot
############################
HELP.md

############################
# Eclipse / STS
############################
.project
.classpath
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# VS Code
############################
.vscode/

############################
# NetBeans
############################
nbproject/
nbbuild/
nbdist/
.nb-gradle/
build/

############################
# Logs
############################
*.log
logs/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Environment Variables
############################
.env
.env.*
!.env.example

############################
# Application Secrets
############################
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

############################
# Temporary Files
############################
*.tmp
*.swp
############################
# SECRET KEYS
############################
application-local.properties